@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto+Mono', 'sans-serif';
}

body{
    overflow: hidden;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #070c19;
    z-index: 100;
    
}

h2 {
    position: absolute;
    font-size: 9vh;
    color: #fff;
    font-weight:400;
    text-align: center;
    line-height: 2em;
    z-index: 50;
    transform: skewY(-7deg);
    text-shadow: 1px 1px 0 #000000,
    2px 2px 0 #ccc,
    3px 3px 0 #ccc,
    4px 4px 0 #ccc,
    5px 5px 0 #000000,
    10px 10px 0px rgba(0, 0, 0,.2);
    animation: floating 4s ease-in-out infinite;
}

h2 span {
    font-weight: 700;
    font-size: 30vh;
    text-shadow:1px 1px 0 #ccc,
        2px 2px 0 #ff8c00,
        3px 3px 0 #ccc,
        4px 4px 0 #ccc,
        5px 5px 0 #ccc,
        6px 6px 0 #ccc,
        7px 7px 0 #ccc,
        8px 8px 0 #ccc,
        9px 9px 0 #ccc,
        10px 10px 0 #ccc,
        20px 20px 0px rgba(0, 0, 0, .2) ;
}

@keyframes floating {
    0%, 100% {
        transform: skewY(-7deg) translateY(-20px) ;
    }
    50% {
            transform: skewY(-7deg) translateY(0px);
    }
}
.bg {
    position: absolute;
    bottom: -50px;
    width: 100%;
    z-index: 6;
    
}

.krans {
    position: absolute;
    opacity: 90%;
    max-width: 750px;
    z-index: 8;
}

.cloud1 {
    position: absolute;
    opacity: 90%;
    top: 150px;
    left: -400px;
    max-width: 400px;
    z-index: 7;
    animation: cloud1 50s linear infinite;
    

}
.cloud2 {
    position: absolute;
    opacity: 90%;
    top: 10px;
    right: -650px;
    max-width: 600px;
    z-index: 20;
    animation: cloud2 50s linear infinite;
    animation-delay:3s;
    
}
.cloud3 {
    position: absolute;
    opacity: 90%;
    top: 95px;
    left: -700px;
    max-width: 900px;
    z-index: 30;
    animation: cloud3 140s linear infinite;
    animation-delay: 14s;

}

@keyframes cloud1 {
    0% {
        transform: translateX(0px);
    }
    90%, 100% {
        transform: translateX(calc(100vw + 400px));
    }
}

@keyframes cloud2 {
    0% {
        transform: translateX(0px) rotateY(180deg);
    }

    90%,
    100% {
        transform: translateX(calc(-100vw - 650px)) rotateY(180deg);
    }
}

@keyframes cloud3 {
    0% {
        transform: translateX(0px);
    }

    90%,
    100% {
        transform: translateX(calc(100vw + 900px));
    }
}

.section1 i {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff;
    animation: stars linear infinite;
    z-index: 5;
}

@keyframes stars {
    0% {
        opacity: 0;
        z-index: 5;
    }
    15% {
        opacity: 1;
        z-index: 5;
    }
    85% {
        opacity: 1;
        z-index: 5;
    }
    100% {
        opacity: 0;
        z-index: 5;
    }
}



.snowflake {
    position: absolute;
    top:0;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    pointer-events: none;
    animation: fall linear infinite;
    z-index: 100;
}

@keyframes fall {
    to {
        transform: translateY(100vh) rotate(360deg);
    }
}













